<div>
  <h1>Sign in</h1>
<div class="row">
  <div class="col-md-12" >
  <%= form_for(:session,:html => {:class => 'form-horizontal' }, url: sessions_path) do |f| %> <div class="form-group">
  <div class="form-group" style="width: 50%; margin-left: 37%; margin-right: 35%">
    <div class="col-xs-6">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", autofocus: true, placeholder: "example@concordia.ca" %>
    
  <div style= "margin-top: 15px; margin-bottom: 20px">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", autofocus: true, placeholder: "Your Password" %>
    </div>
    
    <%= f.button "Sign In", :class=> "btn btn-primary-outline" %>
        <p>New user?<%= link_to "Sign up now!", signup_path %></p>
        </div>
      </div>
  <% end %>
    </div>
  </div>
</div>