
<div id="signup-page-body" class="container">
  <h1 id="signup-page-title" class="center-block">Please sign up!</h1>

  <div id="signup-body">
    <%= form_for(@student) do |f| %>
      <%= f.text_field :first_name, placeholder: "First Name"%>

      <%= f.text_field :last_name, placeholder: "Last Name" %>

      <%= f.text_field :email, placeholder: "Email address" %>
      <%= f.text_field :student_id, placeholder: "Student Id"%>

      <%= f.text_field :email, placeholder: "Email Address" %>

      <%= f.select :department, Student.departments.each {|d| d}%>
      <%= f.password_field :password, placeholder: "Password" %>

      <%= f.password_field :password_confirmation, placeholder: "Confirm The Password" %>

      <%= f.submit "Create The Account", class: "btn btn-large btn-primary"%>
    <% end %>
  </div>
</div>
