<div id="student-info-container" class='col-xs-3'>
  <div id="student-info-name">
    <h1>
      <span id="student-info-first-name"><%= @student.first_name.upcase %></span>
      <span id="student-info-last-name"><%=@student.last_name.upcase%></span>
    </h1>
  </div>
  <div id="student-info-id">
    <span><b>Student id </b></span>
    <span style="float:right"><%= @student.student_id %></span>
  </div>
  <div id="student-info-email">
    <span><b>Email </b></span>
    <span style="float:right;"><%= @student.email %></span>
  </div>
  <div id="student-info-department">
    <span><b>Department </b></span>
    <span style="float:right"><%= @student.department %></span>
  </div>
  <div>
    <button>Change password</button>
  </div>

</div>


<div id="student-profile-options" class="col-xs-9">
  <div class="btn-group btn-group-justified student-profile-buttons" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button id="student-record-button" type="button" class="btn btn-default">Student Record</button>
    </div>
    <div class="btn-group" role="group">
      <button id="student-sequence-button" type="button" class="btn btn-default">Student Sequence</button>
    </div>
    <div class="btn-group" role="group">
      <button id="student-schedule-button" type="button" class="btn btn-default">Student Schedule</button>
    </div>
  </div>

  <div id="student-record-table" class='col-xs-12 student-profile-table'>
    <table class="cell-border hover">
      <thead>
        <tr>
          <th>Year</th>
          <th>Semester</th>
          <th>Course Name</th>
          <th>Course Number</th>
          <th>Grade</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @student_record.each do |course| %>
          <tr>
            <td><%=course[:year]%></td>
            <td><%=course[:semester]%></td>
            <td><%=course[:course_name]%></td>
            <td><%=course[:course_number]%></td>
            <td><%=course[:grade]%></td>
            <td><%=course[:status]%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <div id="student-course-sequence-table" class="col-xs-12 student-profile-table">
    <% @courses.each do |key, courses| %>
    <h2 style="color: #5F9EA0"><%= key %></h2>
      <table class="cell-border hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Title</th>
            <th>Credit</th>
            <th>Prerequisite</th>
          </tr>
        </thead>
        <tbody>
          <%courses.each do |course| %>
            <tr>
              <th><%= course[:name].upcase %></th>
              <th><%= course[:num] %></th>
              <th><%= course[:title] %></th>
              <th><%= course[:credit] %></th>
              <th><%= course[:prereg] %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div id="student-schedule"></div>
</div>
