
<h2 id='contact-page-header'>Need Some Help? Send Us A Message!</h2>
<div class="row">
  <div class="col-md-12" >
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %><div class="form-group">
    <div class="form-group" style="width: 50%; margin-left: 25%; margin-right: 25%">
  
      <div class="col-xs-6" style="float:left; margin-top: 20px">
          <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "Your Name", value:((current_student.first_name.camelize + " " +  current_student.last_name.camelize) if signed_in?) %>
        </div>
           
      <div class="col-xs-6" style="float: right; margin-top: 20px">
          <%= f.text_field :email, class: "form-control", autofocus: true, placeholder: "Your Email", value:((current_student.email) if signed_in?) %>
        </div>
      
      <div class="col-md-12" style="margin-top: 20px; margin-bottom: 25px">
         <%= f.text_area :message, class: "form-control", autofocus: true, id: "contact-content", placeholder: "Message" %>
        </div>

      </br>
      <%=  f.button :button, 'Send message', :class=> "btn btn-primary-outline", :id=> "send_message" do  %>
        <span class="glyphicon glyphicon-envelope"></span> Send Message
      <% end %>
    </div>
  <% end %>
<<<<<<< HEAD
</div>
=======
  </div>
  </div>
</div>








<<<<<<< HEAD
 
=======

 
>>>>>>> 3c7a7af3ace82dd57388c74ef040ecafc7a74943
>>>>>>> 7cf99abf3e58597f361a956b8ef9dd65f2a951d9
