<div class='navbar navbar-fixed-top navbar-default' style="background-color: rgba(72, 131, 140, 0.4);">
  <div class="container">
  <div style="font-family: 'Quicksand', sans-serif;">
    <%= link_to "Picasso", root_path %>
    </div>
    <% if signed_in? %>
      <div class="nav_item session_link" >
        <ul class="nav nav-pills">
          <li> <%= link_to "Signed in as " + current_student.full_name, root_path, {style: "color: black"}  %> </li>
          
          <li> <%= link_to 'Sign Out', signout_path, method: "delete", style: "color: black" %></li>
            
          <li> <%= link_to 'Contact Us', contacts_path, {style: "color: black"} %> </li>
          </ul>
       </div>

    <% else %>
    
      <div class="nav_item session_link">
        <ul class="nav nav-pills">
          <li><%= link_to 'Sign In', signin_path, {style: "color: black"} %> </li>
          
          <li><%= link_to 'Sign Up', signup_path, {style: "color: black"} %> </li>
          
          <li><%= link_to 'Contact Us', contacts_path, {style: "color: black"} %> </li>
          </ul>
        </div>
    <% end %>
   </div>
</div>
